SECRET_KEY=         # openssl rand -base64 42
DB_PASSWORD=        # openssl rand -base64 18
REDIS_AUTH=         # openssl rand -hex 24
QDRANT_API_KEY=     # openssl rand -hex 24
SANDBOX_API_KEY=    # openssl rand -hex 24
PLUGIN_DAEMON_KEY=  # openssl rand -hex 24
INNER_API_KEY=      # openssl rand -hex 24
