# Root password (both nodes - must match). openssl rand -hex 24
MARIADB_ROOT_PASSWORD=

# Application database + user (created on the primary, replicates down).
MARIADB_DATABASE=app
MARIADB_USER=app
MARIADB_PASSWORD=

# Replication account (created on the primary, used by the replica).
MARIADB_REPLICATION_USER=repl
MARIADB_REPLICATION_PASSWORD=
