NEXTAUTH_SECRET=    # openssl rand -base64 32

# IMPORTANT: include the /api/v1/auth suffix.
NEXTAUTH_URL=http://localhost:5000/api/v1/auth

# Set true after creating your accounts.
DISABLE_REGISTRATION=false
