# The app's public URL (https domain on Miget).
APP_URL=http://localhost:5000

# First admin account (created on first boot).
ADMIN_EMAIL=admin@example.com
ADMIN_PASS=
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User
