# Root password (all nodes - must match). openssl rand -hex 24
MYSQL_ROOT_PASSWORD=

# Group Replication recovery account password (created by the init on
# every node). openssl rand -hex 24
MYSQL_REPLICATION_PASSWORD=
