# Root password (all nodes - must match). openssl rand -hex 24
MYSQL_ROOT_PASSWORD=

# Application database + user, created on bootstrap (replicates to joiners).
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=
